<h1>Library Database</h1>

<form #libraryForm="ngForm" (ngSubmit)="getAllBook(libraryForm)">
  <table>
    <tr>
      <td>title:</td>
      <td> <input type="string" min="1" name="title" ngModel> </td>
    </tr>
    <tr>
      <td>Author:</td>
      <td> <input type="string" min="1" name="author_firstname" ngModel> </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">Get</button>
      </td>
    </tr>
  </table>

</form>


<div style="padding: 1px; border: 1px black solid;">
  <router-outlet> </router-outlet>
</div>