
<table>
    <tr>
    <td>Title:</td>
    <td>{{ books['title']}}</td>
  </tr>
  <tr>
    <td>Author:</td>
    <td>{{ books['author_firstname']}}</td>
  </tr>
  
  <tr>
    <td></td>
    <td>
      <button type="button" (click)="goBack()">
        Back
      </button>
    </td>
  </tr>
</table>