


<div *ngFor="let f of books" style="padding: 5px;">
  <a [routerLink]="[ '/books', f.id ]">
<!--    <img src="./media/ella_the_rose_fairy.jpg" width="200px"> -->
    <h4 style="display: inline;">{{ f.title }}</h4>
    <br>
    <button type="button" (click)="showDetails(f.id)">
      Show
    </button>
  </a>
  <h4>{{f.author_firstname}} {{f.author_lastname}}</h4>
</div>
